DragDrop/build/
DragDrop/CMakeLists.txt.user
StandardDialog/build/
StandardDialog/CMakeLists.txt.user
CustomDialog/build/
CustomDialog/CMakeLists.txt.user
MutiWindow/build/
MutiWindow/CMakeLists.txt.user
